@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  /* Ensure no global styles are hiding content */
}

.bg-white {
  /* Ensure background colors and text colors have sufficient contrast */
}

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
